/*! SASS #base typography */


// Prefix for :root CSS variables

$variable-prefix: bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix !default;
// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  ) !default;
// scss-docs-end spacer-variables-maps

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: system-ui,
  -apple-system,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  "Noto Sans",
  "Liberation Sans",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular,
  Menlo,
  Monaco,
  Consolas,
  "Liberation Mono",
  "Courier New",
  monospace !default;
// stylelint-enable value-keyword-case
$font-family-base: var(--#{$prefix}font-sans-serif) !default;
$font-family-code: var(--#{$prefix}font-monospace) !default;

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root: null !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .875 !default;
$font-size-lg: $font-size-base * 1.25 !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;

$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;
// scss-docs-end font-variables

// scss-docs-start font-sizes
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size) !default;
// scss-docs-end font-sizes

// scss-docs-start headings-variables
$headings-margin-bottom: $spacer * .5 !default;
$headings-font-family: null !default;
$headings-font-style: null !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: inherit !default;
// scss-docs-end headings-variables

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
}



h1,
.h1 {
  //font-family: 'Roboto',sans-serif;
  //font-style: normal;
  //font-weight: 500;
  //font-size: 2.5rem;
  //line-height: 26px;
  font-family: Montserrat;
  font-size: 4rem; //60px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 4px;
  line-height: 5rem; //81px;
  display: grid;
  margin-block: 0.5rem;

}



h1>strong,
h2>strong,
p>strong {
  color: var(--main-color
  );
}

h2,
.h2 {
  //font-family: 'Roboto',sans-serif;
  //font-size: 2rem;
  //font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 2px;
  line-height: 54px;

}

.subtitle {
  &__services {
    display: grid;
    justify-content: center;
    margin-block: 0.5em -0.5rem;
    margin-block: 1.5em 1.5rem;
  }
}

h3,
.h3 {
  font-family: 'Roboto',
    sans-serif;
  font-size: 1.25rem;

}

h4,
.h4 {
  font-family: 'Roboto',
    sans-serif;
  font-size: 1.15rem;

}

h5,
.h5 {
  font-family: 'Roboto',
    sans-serif;

}

h6,
.h6 {
  font-family: 'Roboto',
    sans-serif;

}

.p__description {
  //font-family: 'Roboto',sans-serif;
  //font-style: normal;
  //font-weight: 400;
  //font-size: 16px;
  //line-height: 24px;

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  letter-spacing: 1px;
  line-height: 34.4px;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/*
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*/
hr.separator-center {
  //margin: 1rem 0;
  color: inherit;
  //border: 0;
  //border-top: var(--bs-border-width) solid;
  //opacity: 0.25;
  border: 1px solid #EFEFEF;
  margin: 2rem auto;
  width: 50%;
}



hr.separator-center-color {
  //margin: 1rem 0;
  color: inherit;
  //border: 0;
  //border-top: var(--bs-border-width) solid;
  //opacity: 0.25;
  border: 2px solid var(--main-color);
  margin: 1rem auto;
  width: 5%;
}

hr.separator-start {
  color: inherit;
  border: 2px solid grey;
  width: 5%;
  margin-inline-start: 0rem;

  &__cloud {
    border: 2px solid var(--cloud-color);
  }

  &__audio-visuel {
    border: 2px solid var(--audio-visuel-color);

  }

  &__web {
    border: 2px solid var(--web-color);

  }

  &__logiciel-gestion {
    border: 2px solid var(--logiciel-color);

  }

  &__design-print {
    border: 2px solid var(--design-color);

  }

  &__telecom {
    border: 2px solid var(--telecom-color);

  }
}



/*
h6,
h5,
h4,
h3,
h2,
h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}
*/
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1024px) {

  h1,
  .h1 {
    font-size: 2rem;
    line-height: 3rem; //81px;

  }
}